.classpath
.project
#*.gitignore
*.class
.settings
parse.txt
fichero.js
tokens.txt
log_lexico.txt
pruebas/*
resources/parse.txt
resources/tokens.txt
resources/errores.txt
resources/tabla_simbolos.txt
